# Ignore all executable files in child directories
**/*.out
**/*.pyc
**/*.class
**/*.jar
**/*.exe
**/*.dll



# 
**/*.zip
**/*.tar
**/*.gz
**/*.tgz

/asset

# Audio
**/*.m4a
**/*.mp3
**/*.wav

Notes/LLM/mcp-client/.env

# models
**/*.ckpt
**/*.safetensors
**/*.bin
**/*.pt
**/*.onnx
**/*.h5
**/*.pth
**/*.pkl